Source: isaac
Section: comm
Priority: optional
Build-Depends: dh-autoreconf, debhelper, libedit-dev, libconfig-dev
Maintainer: Ivan Alonso <kaian@irontec.com>

Package: isaac
Architecture: amd64
Section: comm
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends},
Priority: optional
Homepage: http://www.irontec.com
Description: Ivozng simplified Asterisk AMI Connector
 Isaac is simplified interface to manage Asterisk Manager Interface
 output.
 It is capable to run loadable applications to extend or implement
 new protocols.
 .
